<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active capitalize"><%= db %></li>
    <% if(url!='') { %>
        <li>
            <button type="submit" class="btn btn-success btn-add pull-right" formaction="/<%= url %>">Add</button>
        </li>
    <% }%>
</ol>
