<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/<%= db %>" class="capitalize"><%= db %></a></li>
    <li class="breadcrumb-item active"><%= action %></li>
</ol>
