<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form action="" method="post" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'clients', action:'Add'}) %>
        <div class="form-group row">
            <label for="input_id" class="col-sm-2 col-form-label">_id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_id" name="_id" placeholder="Client id" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_companyName" class="col-sm-2 col-form-label">companyName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_companyName" name="companyName" placeholder="公司名稱" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_uniBusNo" class="col-sm-2 col-form-label">uniBusNo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_uniBusNo" name="uniBusNo" placeholder="公司統一編號" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_address" class="col-sm-2 col-form-label">address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_address" name="address" placeholder="地址" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_city" class="col-sm-2 col-form-label">city</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input_city" name="city" placeholder="城市" required>
            </div>
            <label for="input_district" class="col-sm-2 col-form-label">district</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_district" name="district" placeholder="區" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_country" class="col-sm-2 col-form-label">country</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input_country" name="country" placeholder="國家" required>
            </div>
            <label for="input_postcode" class="col-sm-2 col-form-label">postcode</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_postcode" name="postcode" placeholder="郵遞區號" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_contactPerson1" class="col-sm-2 col-form-label">contactPerson1</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_contactPerson1" name="contactPerson1" placeholder="聯絡人1" required>
            </div>
            <label for="input_contactPhone1" class="col-sm-2 col-form-label">contactPhone1</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input_contactPhone1" name="contactPhone1" placeholder="聯絡電話1" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_contactEmail1" class="col-sm-2 col-form-label">contactEmail1</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="input_contactEmail1" name="contactEmail1" placeholder="聯絡人 Email1" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_contactPerson2" class="col-sm-2 col-form-label">contactPerson2</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_contactPerson2" name="contactPerson2" placeholder="聯絡人2">
            </div>
            <label for="input_contactPhone2" class="col-sm-2 col-form-label">contactPhone1</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input_contactPhone2" name="contactPhone1" placeholder="聯絡電話2">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_contactEmail2" class="col-sm-2 col-form-label">contactEmail2</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="input_contactEmail2" name="contactEmail2" placeholder="聯絡人 Email2">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_active" class="col-sm-2 col-form-label">active</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input name="active" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">inactive</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="active" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">active</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-submit">Reset</button>
                <button type="submit" class="btn btn-primary btn-reset" formaction="/clientsAddSubmit" formmethod="post">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
