<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form method="post" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'deviceGroups', action:'Add'}) %>
        <div class="form-group row">
            <label for="input_groupName" class="col-sm-2 col-form-label">groupName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_groupName" placeholder="group Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_itemList" class="col-sm-2 col-form-label">itemList</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <label for="input_itemList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <label for="input_itemList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <label for="input_itemList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="input_itemList" placeholder="device ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_active" class="col-sm-2 col-form-label">enable</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input name="active" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">disable</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="active" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">enable</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-submit">Reset</button>
                <button type="submit" class="btn btn-primary btn-reset" formaction="/deviceGroupsAddSubmit">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
