<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'deviceInfo', action:'Edit'}) %>
        <div class="form-group row">
            <label for="input_id" class="col-sm-2 col-form-label">_id</label>
            <div class="col-sm-20">
                <input type="number" class="form-control" id="input_id" placeholder="firmware model id">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_fullModelID" class="col-sm-2 col-form-label">fullModelID</label>
            <div class="col-sm-20">
                <input type="text" class="form-control" id="input_fullModelID" placeholder="full Model ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_sfunctionList" class="col-sm-2 col-form-label">sfunctionList</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="0" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="富欣裝置型號">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="1" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="顯示圖示">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="2" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="暱稱">
            </div>
            <label for="input_fullID" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="3" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="智慧連動Type">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="4" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="Slev">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="5" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="觸發時間">
            </div>
            <label for="input_fullID" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="6" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="推播">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="7" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="Level1 情境Type">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="8" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="裝置協議">
            </div>
            <label for="input_fullID" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="9" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="邏輯">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="10" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="韌體版本">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="11" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="韌體型號">
            </div>
            <label for="input_fullID" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="12" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="預設顯示名稱">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="13" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="RF ID">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="input_fullID" value="14" readonly>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_fullID" placeholder="低電量顯示">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_itemList" class="col-sm-2 col-form-label">dfunctionList</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <label for="input_itemList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_itemList" placeholder="full ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_isAuto" class="col-sm-2 col-form-label">isAuto</label>
            <div class="col-sm-20">
                <label class="custom-control custom-radio">
                  <input id="radioStacked1" name="isAuto" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">no</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radioStacked2" name="isAuto" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">yes</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_isGroup" class="col-sm-2 col-form-label">isGroup</label>
            <div class="col-sm-20">
                <label class="custom-control custom-radio">
                  <input id="radioStacked1" name="isGroup" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">no</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radioStacked2" name="isGroup" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">yes</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-submit">Reset</button>
                <button type="submit" class="btn btn-primary btn-reset" formaction="/deviceInfoAddSubmit" formmethod="post">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
